{% extends "auth/base.html" %}

{% load static %}

{% load socialaccount %}

{% block content %}

    <div id="main-wrapper" class="auth-customizer-none">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="{% url 'index' %}" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                                  <img src="{% static 'assets/images/logos/logo-eb.svg' %}" class="dark-logo" alt="Logo-Dark" />
                                  <img src="{% static 'assets/images/logos/logo-eb.svg' %}" class="light-logo" alt="Logo-light" />
                                </a>
                                <div class="row">
                                  <div class="col-12 mb-2 mb-sm-0">
                                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="{% provider_login_url 'google' %}" role="button">
                                      <img src="{% static 'assets/images/svgs/google-icon.svg' %}" alt="modernize-img" class="img-fluid me-2" width="18" height="18">
                                      <span class="flex-shrink-0">with Google</span>
                                    </a>
                                  </div>

                                  <!-- <div class="col-6">
                                    <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="javascript:void(0)" role="button">
                                      <img src="{% static 'assets/images/svgs/facebook-icon.svg' %}" alt="modernize-img" class="img-fluid me-2" width="18" height="18">
                                      <span class="flex-shrink-0">with FB</span>
                                    </a>
                                  </div> -->
                                
                                </div>
                                <div class="position-relative text-center my-4">
                                    <p class="mb-0 fs-4 px-3 d-inline-block bg-white z-index-5 position-relative">or sign Up with</p>
                                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                </div>
                                <form id="myform" method ="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="exampleInputEmail1" class="form-label">Username</label>
                                      <input type="text" class="form-control" id="exampleInputtext" aria-describedby="textHelp" name = "username" required>
                                    </div>
                                    <div class="mb-3">
                                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email" required>
                                    </div>
                                    <div class="mb-4">
                                      <label for="exampleInputPassword1" class="form-label">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" name = "password" required>
                                    </div>
                                    <button id="submitbtn" class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                                      <span id="spinner" class="spinner-border spinner-border-sm me-2 d-none" role="status"></span>
                                      Sign Up
                                    </button>
                                    <div class="d-flex align-items-center">
                                      <p class="fs-4 mb-0 text-dark">Already have an Account?</p>
                                      <a class="text-primary fw-medium ms-2" href="{% url 'login' %}">Sign In</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function handleColorTheme(e) {
                document.documentElement.setAttribute("data-color-theme", e);
            }
        </script>
    </div>

{% endblock content %}