{% extends "dashboard/base.html" %}

{% load static %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center mb-9">
                        <div>
                            <h4 class="card-title fw-semibold">Order Status</h4>
                            <p class="card-subtitle">How to Check Your Order Status Online</p>
                        </div>
                        <div class="ms-auto mt-4 mt-md-0">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link rounded active" data-bs-toggle="tab" href="#home" role="tab">
                                    <span>Checkout</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded" data-bs-toggle="tab" href="#profile" role="tab">
                                    <span>Paid</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded" data-bs-toggle="tab" href="#messages" role="tab">
                                    <span>Packed</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content mt-3">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table align-middle mb-0 text-nowrap">
                                    <tbody>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-4.jpg' %}" class="rounded" alt="p1" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-warning-subtle text-warning rounded-pill">
                                                    <span class="round-8 text-bg-warning rounded-circle d-inline-block me-1"></span>progress
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-5.jpg' %}" class="rounded" alt="p2" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Oyhan Ruhiyan</h6>
                                                        <span class="fs-2">oyhan@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>Frontend Dev - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$49.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-6.jpg' %}" class="rounded" alt="p3" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Dayat Santoso</h6>
                                                        <span class="fs-2">dayat@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>UX Research - Power Courses</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$79.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    <span class="round-8 text-bg-danger rounded-circle d-inline-block me-1"></span>cancel
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-7.jpg' %}" class="rounded" alt="p4" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-hover align-middle mb-0 text-nowrap">
                                    <tbody>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-6.jpg' %}" class="rounded" alt="p2" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Oyhan Ruhiyan</h6>
                                                        <span class="fs-2">oyhan@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>Frontend Dev - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$49.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-7.jpg' %}" class="rounded" alt="p1" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-warning-subtle text-warning rounded-pill">
                    <span class="round-8 text-bg-warning rounded-circle d-inline-block me-1"></span>progress
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-2.jpg' %}" class="rounded" alt="p3" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Dayat Santoso</h6>
                                                        <span class="fs-2">dayat@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>UX Research - Power Courses</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$79.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    <span class="round-8 text-bg-danger rounded-circle d-inline-block me-1"></span>cancel
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-3.jpg' %}" class="rounded" alt="p4" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-hover align-middle mb-0 text-nowrap">
                                    <tbody>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-4.jpg' %}" class="rounded" alt="p4" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <a href="javascript:void(0)" class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-5.jpg' %}" class="rounded" alt="p1" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Irpun Wicaksono</h6>
                                                        <span class="fs-2">irpun@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>React Js - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$50.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-warning-subtle text-warning rounded-pill">
                    <span class="round-8 text-bg-warning rounded-circle d-inline-block me-1"></span>progress
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-6.jpg' %}" class="rounded" alt="p2" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Oyhan Ruhiyan</h6>
                                                        <span class="fs-2">oyhan@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>Frontend Dev - Online Classes</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$49.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-success-subtle text-success rounded-pill">
                    <span class="round-8 text-bg-success rounded-circle d-inline-block me-1"></span>delivered
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="flex-shrink-0">
                                                        <img src="{% static 'assets/images/profile/user-7.jpg' %}" class="rounded" alt="p3" width="80" />
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-0 fw-semibold">Dayat Santoso</h6>
                                                        <span class="fs-2">dayat@gmail.com</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <span>UX Research - Power Courses</span>
                                            </td>
                                            <td class="ps-0">
                                                <h6 class="mb-0">$79.00</h6>
                                            </td>
                                            <td class="text-end ps-0">
                                                <span class="badge bg-danger-subtle text-danger rounded-pill">
                    <span class="round-8 text-bg-danger rounded-circle d-inline-block me-1"></span>cancel
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}